*{
    margin:0;
    box-sizing:border-box;
    padding:10px 0px 10x 0px;

}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #111;
}
.nav img{
    max-width: 150px;
    max-height: 100px;
}

.nav{
    display: flex;
    padding:10px;
    justify-content: space-between;
    background-color:black;

}
.nav-right{
    display: flex;
    justify-content: space-between;
    gap: 8px;
}
button{
    height:50px;
    width: 70px;
    border-radius: 4px;
    background-color: #111;
    color:white;
    border-color: white;
}
.red{
    background-color: red;
    color:white;
    border-color: red;
}


.normal_image{
    width: 400px;
    height:200px;
    object-fit: contain;
    margin-right:2px;
    transition: transform 450ms;
}

.row_posters{
    display: flex;
    overflow-y: hidden;
    overflow-x:scroll ;
    padding: 20px 20px 20px 0;
}


.large_image{
    height: 450px;
}

.inner-div{
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color:white;
    gap:10px;
}






.row{
    color:white;
    margin:20px 0 20px 0;
    padding: 10px;
}



.large_image:hover
{
    transform: scale(1.09);
}


.normal_image:hover{
    transform: scale(1.08);
}

.row_posters::-webkit-scrollbar
{
    display: none;
}

 @media only screen and (max-width: 600px)
 {

    .normal_image {
        width: 250px;
        height:100px;
        margin-right:4px;
      }
      .large_image {
          height: 250px;
        }
        .nav img{
            max-width: 150px;
            max-height: 100px;
        }
  }  

  @media only screen and (min-width: 601px) and (max-width: 900px)
  {

    .normal_image {
        width: 300px;
        height:150px;
      object-fit: contain;
      
    }

    .large_image {
        height: 350px;
        object-fit: contain;
      }



    .nav img{
        max-width: 150px;
        max-height: 100px;
    }
  } 

